// ---- Fonts ----
$titleFont: "Helvetica";
$regularFont: "Helvetica";

// ---- Colors ----
$primary: #dfa59a;
$dark: #121212;
$lighterDark: #282828;
$lightestDark: #3f3f3f;
$disabledColor: #dddddd;
$white: #ffffff;

// ---- Sizing ----
$buttonFontSize: 1.25em;

$header1: 2em;
$header2: 1.5em;
$header3: 1.3em;
$header4: 1em;
$header5: 0.8em;

html {
  background-color: $dark;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.game-container {
  background-color: $lighterDark;
  color: $white;
}

h1 {
  color: $white;
  font-family: $titleFont;
  size: $header1;
  text-align: center;
}

h2 {
  color: $white;
  font-family: $titleFont;
  size: $header2;
  text-align: center;
}

h3 {
  color: $white;
  font-family: $titleFont;
  size: $header3;
}

h4 {
  color: $white;
  font-family: $titleFont;
  size: $header4;
}

h5 {
  color: $white;
  font-family: $titleFont;
  color: $white;
}

p,
i,
li,
strong {
  color: $white;
  font-family: $regularFont;
}

tr {
  width: 50%;
}

img {
  border-radius: 5%;
  margin: 5em;
  height: 500px;
  width: 500px;
  aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 600px) {
  img {
    border-radius: 5%;
    width: 200px;
  }
}

.center {
  width: 75%;
  margin: auto;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  button i {
    font-size: 12px;
    font-weight: normal;
  }

  .subflex {
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

table {
  width: 100%;
}

// Yes this is indeed the button from Airbnb
button {
  font-family: $titleFont;
  font-size: $buttonFontSize;
  background-color: $lightestDark;
  border: 1px solid $white;
  border-radius: 8px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;

  &.action {
    width: 100%;
    margin-bottom: 1em;
  }

  &:disabled {
    border-color: $disabledColor;
    color: $disabledColor;
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  &:focus-visible {
    transition: box-shadow 0.2s;
  }  
  
  &:active {
    border-color: $white;
    transform: scale(0.96);
  }

  &.upgrade {
    margin: 0.5em;
    width: 100px;
    height: 100px;
  }
}